@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1c457f;
}
a:not([href]):not([tabindex]) {
    color: #FFFFFF;
   text-decoration: none;
}
a:hover{
   color:#FAFAFA;
}
.navigation{
    background-color: #1c457f;
}
nav#menu > div > ul.nav> .nav-item > .nav-link{
    color: #FFFFFF;
}
nav#menu > div > ul.nav> .nav-item > .nav-link:hover {
    transform: scale(1.2);
    opacity: 0.5;
    transition: all .5s ease-out;
}
.logo {
    height: 40px;
    margin-top: -35px;
}
.banner{
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-blue {
    color: #fff;
    background-color: #4b7cc2;
    border-color: #4b7cc2;
}
.video-banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
.border-video{
    border-left: 2px solid #47c3e0;
}
h2.title{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #3fc2e1;
    text-align: center;
}
.box{
    display: grid;
    text-align: justify;
    grid-template-columns: 20% auto;
    grid-column-gap:  10px;
}
p.smaller{
font-size: 0.95rem;
}
.pre-footer{
    background-image: url('pre-footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}
.btn-skyblue {
    color: #fff;
    background-color: #47c3e0;
    border-color: #47c3e0;
}

/**********PESTAÑA LITIO***********/
.litio{
    display: grid;
    grid-template-columns: 20% auto;
    height: 900px;
}
.litio .img{
    background-image: url('litio.png');
    background-position: left;
    background-size: cover;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #1c457f;
    color: #ffffff;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #001c41 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}
.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}
.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
ul li {
    padding-bottom: 15px;
}
.separador {
    color: #0F69C4;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
@media (max-width: 1360px) {
    .container{
        max-width: 1360px;
    }
}
@media (max-width: 992px) {
    .logo {
        height: 30px;
        margin-top: -35px;
    }

}
@media (max-width: 760px){
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    p.smaller{
        font-size: 1rem;
        }
        .litio{
       
            height: auto;
        }
}
@media (max-width: 540px) {

    nav#menu {
        padding-left: 0;
        padding-right: 0;
    }
}